/*
 * SPDX-License-Identifier: Apache-2.0
 *
 * Example DTS overlay with BME680/688 devices connected
 * to each bus type (I2C/SPI).
 */

/* I2C bus the BME680/BME688 device is connected to. */
&i2c0 {
	bme680@76 {
		compatible = "bosch,bme68x-sensor-api";

		/* BME680/688 I2C slave address (0x76 or 0x77) */
		reg = < 0x76 >;
	};
};

/* SPI bus the BME680/688 is connected to. */
&spi3 {
	bme680@0 {
		compatible = "bosch,bme68x-sensor-api";
		reg = < 0 >;

		/* Maximum SPI clock frequency for BME680/688 (10 MHz). */
		spi-max-frequency = < 10000000 >;

		/*
		 * Default: duplex = < 0 > == < SPI_FULL_DUPLEX >;
		 */

		/*
		 * Default: frame-format = < 0 > == < SPI_FRAME_FORMAT_MOTOROLA >;
		 */

		/*
		 * BME680/688 SPI interface supports SPI mode '00' (CPOL = CPHA = '0')
		 * and mode '11' (CPOL = CPHA = '1').
		 *
		 * If not set, default to: '00'.
		 */
		spi-cpol;
		spi-cpha;
	};
};
